# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MonsterFightSimulator.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\SAE\MonsterFightSimulator\.idea\.idea.MonsterFightSimulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
